.staff-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding-left: 0;
    .staff-item {
        display: flex;
        gap: 12px;
        align-items: center;
        height: max-content;
        margin: 0;
        .avatar {
            width: 64px;
            height: 64px;
            border-radius: 8px;
            background-color: $primary-80;
            margin: 0;
        }
        .staff-description {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (max-width: 1000px) {
    .staff-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .staff-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (max-width: 400px) {
    .staff-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
}
