@font-face {
    font-family: "Inter", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
}

// accent colours
$accent-blue: var(--accent);
$accent-yellow: #ffc85c;

// main body colors
$background: #0e1d2b;
$primary: #203747;
$primary-hover: lighten($primary, 3%);
// 80 = brightness(.8) because sass darken() sucks
$primary-80: #1a2c39;
$divider: rgba(255, 255, 255, 0.1);

// header colors
$header-link: rgba(255, 255, 255, 0.4);
$header-link-hover: rgba(255, 255, 255, 0.8);

// shadow
$shadow: 0px 4px 11px rgba(0, 0, 0, 0.12);
$shadow-hover: 0px 4px 11px rgba(0, 0, 0, 0.24);

// font
$text-colour: rgba(255, 255, 255, 0.85);
$text-colour-muted: rgba(255, 255, 255, 0.5);

// content-width
$radius: 4px;

// other
$invalid: #ff603d;
$filter-tags: #3c505d;

// button colors
$gradient-left: #3dadff;
$gradient-right: #2664c0;
$button-gradient: linear-gradient(135deg, $gradient-left 0%, $gradient-right 100%);
$button-gradient-hover: linear-gradient(135deg, lighten($gradient-left, 5%) 0%, lighten($gradient-right, 5%) 100%);
$button-grey: #2d3a46;
