---
layout: master
---

<script>
    window.addEventListener("load", () => {
        if(location.pathname.match("/p/1/")) {
            window.open(location.pathname.replace("/p/1/","/"), "_self")
        }
    })
</script>

<div class="error-404">
    <span class="code">404</span>
    <span class="shrug">¯\_(ツ)_/¯</span>
</div>

{{ content }}